.App {
  text-align: center;
}

body {
  background-image:url('../src/imgs/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
}