.App {
  text-align: center;
}

body {
  /* background-image:url('../src/imgs/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
  background-size:contain;
  background-repeat: repeat;
  min-height: 100vh;
  font-family: Poppins, sans-serif; */
  background-color: #fff;
  font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
}

h1 {
  font-family: 'Wix Madefor Display', sans-serif;
}