.card img {
    height: 350px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

p {
    margin: 0;
}

.card {
    background-color: #fff;
    display: inline-block;
    margin: 15px;
    border-radius: 10px 10px 25px 25px ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    }

.card a {
    text-decoration: none;
}

.weight {
    display: inline-block;
    margin: 10px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    padding-right: 5px;
}

.temperament {
    color: #828282;
}